<%# 右のビュー %>
  <div class="right_content">

    <div class="right_top">
      <div class="chatroom_name">
        <p>hogefuga</p>
      </div>
      <div class="chatroom_fin">
        <a href="">チャットを終了する</a>
      </div>
    </div>

    <div class="right_main">
      <%= render partial: "message", collection: @messages %>
     
    </div>
    

    <div class="right_bottom">
      <%= form_with model: [@room, @message], class: "form_content", local: true do |f| %>
     　　<div class="type_message_form">    
          <%= f.text_field :content, class: "type_message", placeholder: "type a message" %>
          <label class="form_image">
            <span class="image_file">画像</span>
            <%= f.file_field :image, class: "hidden" %>
        　</label>
     　 </div>
        <%= f.submit "送信", class: "submit" %>
      <% end %>
    </div>
  </div>
